Package: com.ps.detectscreenshotevent
Name: Detect Screen Capture
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: PoC Detection of screenshot events.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
